In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df1=pd.read_csv('/kaggle/input/2018-24/2018_route6.csv', encoding='utf-8')

In [4]:
df1.head(3)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,1422656,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:27
1,1422657,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28
2,1422658,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28

In [5]:
df2=pd.read_csv('/kaggle/input/2018-24/2019_route6.csv')

In [6]:
df2.head(3)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,20681683,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2019 00:19
1,20681689,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2019 00:20
2,20681690,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2019 00:20

In [7]:
df3=pd.read_csv('/kaggle/input/2018-24/2020_route6.csv',encoding='utf-8')
df3.head(3)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,79119885,6,0,17,ठाणे स्टेशन,18,प्रदीप सोसायटी,01-01-2020 00:21
1,79119952,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2020 00:21
2,79119969,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2020 00:21

In [8]:
df4=pd.read_csv('/kaggle/input/2018-24/2021_route6.csv', encoding='utf-8')

In [9]:
df4.head(2)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,101721951,6,0,17,ठाणे स्टेशन,20,वागळे आगार,01-01-2021 00:00
1,101721952,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2021 00:00

In [10]:
df5=pd.read_csv('/kaggle/input/2018-24/2022_route6.csv', encoding='utf-8')
df5.head(2)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,136993652,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2022 01:16
1,136993653,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2022 01:16

In [11]:
df6=pd.read_csv('/kaggle/input/2018-24/2023_route6.csv', encoding='utf-8')
df6.head()

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,191524552,6,0,18,प्रदीप सोसायटी,20,वागळे आगार,01-01-2023 00:01
1,191524553,6,0,18,प्रदीप सोसायटी,20,वागळे आगार,01-01-2023 00:01
2,191529562,6,0,18,प्रदीप सोसायटी,20,वागळे आगार,01-01-2023 00:38
3,191528438,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2023 00:24
4,191528439,6,0,17,ठाणे स्टेशन,19,कामगार हौस्पीटल,01-01-2023 00:24

In [12]:
df7=pd.read_csv('/kaggle/input/2018-24/2024_route6.csv', encoding='utf-8')
df7.head(2)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,273130126,6,1,20,वागळे आगार,17,ठाणे स्टेशन,12-03-2024 19:50
1,273130177,6,1,20,वागळे आगार,17,ठाणे स्टेशन,12-03-2024 19:50

In [13]:
print("2018 : ", df1.shape)
print("2019: ", df2.shape)
print("2020: ", df3.shape)
print("2021: ", df4.shape)
print("2022: ", df5.shape)
print("2023: ", df6.shape)
print("2024: ", df7.shape)

2018 :  (1048575, 8)
2019:  (1048575, 8)
2020:  (1048575, 8)
2021:  (1048575, 8)
2022:  (1048575, 8)
2023:  (1048575, 8)
2024:  (1048575, 8)

In [14]:
total_row_entries = df1.shape[0] + df2.shape[0] +df3.shape[0] +df4.shape[0] +df5.shape[0] +df6.shape[0] +df7.shape[0]
print("Total Row Entries : ", total_row_entries)

Total Row Entries :  7340025

In [15]:
merge_df=pd.concat([df1,df2,df3,df4,df5,df6,df7], axis=0)
print("Merge Data Shape : ", merge_df.shape)
merge_df.head(3)

Merge Data Shape :  (7340025, 8)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,1422656,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:27
1,1422657,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28
2,1422658,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28

In [16]:
df = merge_df

In [59]:
merge_df.to_csv("merge_df.csv", index=False, encoding='utf-8')

In [60]:
df

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,Date_Time,station_pair,is_holiday,holiday_type,weekday,hour,year,total_count,lower_quartile,upper_quartile,final_total_count
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,6,6,6,6
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3,3,3,3
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3,3,3,3
3,1422660,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3,3,3,3
4,1422661,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:29,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,274318915,6,1,20,Wagle Depot,17,Thane Station(Satis),18-03-2024 14:02,Wagle Depot->Thane Station(Satis),0,0,0,14,2024,15,15,15,15
1048571,274318916,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9,9,9,9
1048572,274318917,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9,9,9,9
1048573,274318918,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9,9,9,9
1048574,274318919,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9,9,9,9

In [18]:
source_destination_df=df[['SourceName','DestinationName']]
source_destination_df.head(3)
source_destination_df.shape

(7340025, 2)

In [19]:
null_values=source_destination_df.isnull().any(axis=1)
null_values

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 7340025, dtype: bool

In [61]:
df_with_nan = source_destination_df[null_values]
print(df_with_nan)

                  SourceName DestinationName
202068           Wagle Depot             NaN
879018     Vrindavan Society             NaN
105815           Wagle Depot             NaN
178312           Kamgar Gate             NaN
368045  Thane Station(Satis)             NaN
491037  Thane Station(Satis)             NaN
103070           Wagle Depot             NaN
640627           Wagle Depot             NaN
708264     Vrindavan Society             NaN
710937           Wagle Depot             NaN
752286           Wagle Depot             NaN
752287           Wagle Depot             NaN
752288           Wagle Depot             NaN
752289           Wagle Depot             NaN
752290           Wagle Depot             NaN
752291           Wagle Depot             NaN
752292           Wagle Depot             NaN
752293           Wagle Depot             NaN
752294           Wagle Depot             NaN
752334  Thane Station(Satis)             NaN
752335  Thane Station(Satis)             NaN
791235  Thane Station(Satis)             NaN
788358  Thane Station(Satis)             NaN
646425     Vrindavan Society             NaN

In [62]:
df_with_nan.to_csv('Null_df_English_translated.csv', index=False, encoding='utf-8')

In [20]:
null_value_counts = null_values.isnull().sum()
print("Total null values in DataFrame:")
null_value_counts

Total null values in DataFrame:

0

In [21]:
null_rows = source_destination_df.isnull().any(axis=1)

# Extract rows into a new DataFrame (containing NaN for nulls)
filtered_df = source_destination_df[null_rows]

# Print (if any rows have null values)
if filtered_df.empty:
  print("No rows contain null values")
else:
  print(filtered_df)

             SourceName DestinationName
202068       वागळे आगार             NaN
879018       वृदावन सो.             NaN
105815       वागळे आगार             NaN
178312  कामगार हौस्पीटल             NaN
368045      ठाणे स्टेशन             NaN
491037      ठाणे स्टेशन             NaN
103070       वागळे आगार             NaN
640627       वागळे आगार             NaN
708264       वृदावन सो.             NaN
710937       वागळे आगार             NaN
752286       वागळे आगार             NaN
752287       वागळे आगार             NaN
752288       वागळे आगार             NaN
752289       वागळे आगार             NaN
752290       वागळे आगार             NaN
752291       वागळे आगार             NaN
752292       वागळे आगार             NaN
752293       वागळे आगार             NaN
752294       वागळे आगार             NaN
752334      ठाणे स्टेशन             NaN
752335      ठाणे स्टेशन             NaN
791235      ठाणे स्टेशन             NaN
788358      ठाणे स्टेशन             NaN
646425       वृदावन सो.             NaN

In [24]:
filtered_df.to_csv("filtered_data.csv", index=False, encoding='utf-8')

In [25]:
filtered_df.shape
filtered_df

             SourceName DestinationName
202068       वागळे आगार             NaN
879018       वृदावन सो.             NaN
105815       वागळे आगार             NaN
178312  कामगार हौस्पीटल             NaN
368045      ठाणे स्टेशन             NaN
491037      ठाणे स्टेशन             NaN
103070       वागळे आगार             NaN
640627       वागळे आगार             NaN
708264       वृदावन सो.             NaN
710937       वागळे आगार             NaN
752286       वागळे आगार             NaN
752287       वागळे आगार             NaN
752288       वागळे आगार             NaN
752289       वागळे आगार             NaN
752290       वागळे आगार             NaN
752291       वागळे आगार             NaN
752292       वागळे आगार             NaN
752293       वागळे आगार             NaN
752294       वागळे आगार             NaN
752334      ठाणे स्टेशन             NaN
752335      ठाणे स्टेशन             NaN
791235      ठाणे स्टेशन             NaN
788358      ठाणे स्टेशन             NaN
646425       वृदावन सो.             NaN

In [65]:
filtered_df.size()

TypeError: 'int' object is not callable

In [26]:
filtered_df.shape

(24, 2)

In [27]:
encoded_df = filtered_df.to_csv("null_values_df.csv", index=False ,encoding='utf-8')

In [28]:
df.head()

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,1422656,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:27
1,1422657,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28
2,1422658,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28
3,1422660,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:28
4,1422661,6,0,20,वागळे आगार,17,ठाणे स्टेशन,25-07-2018 18:29

In [29]:
marathi_to_english = {
    'वृदावन सो.': 'Vrindavan Society',
    'राबोडी': 'Rabodi',
    'श्रीरंग सोसा.': 'Shrirang Society',
    'केîव्हीला': 'K villa',
    'पोलीस लाईन': 'Police Line',
    'सिव्हील / कोर्ट': 'Court Naka',
    'जांभ ळीनाका': 'Jambhali Naka',
    'प्रभात सिनेमा': 'Prabhat Cinema',
    'ठाणे स्टेशन': 'Thane Station(Satis)',
    'गांवदेवी': 'Gaondevi Mandir',
    'आईस फैक्टरी': 'Ice Factory',
    'हरी निवास': 'Hari Nivas',
    'प्रदीप सोसायटी': 'Pradeep Society/Panch Pakhadi',
    'परमार्थ निकेतन': 'Parmarth Niketan',
    'मनपा.भवन': 'Manpa Bhavan',
    'नामदेववाडी': 'Namdev Wadi',
    'नितीन कंपनी': 'Nitin Company Circle',
    'रामचंद्रनगर 1': 'Ramachandra Nagar 1',
    'वैतीवाडी': 'Vaiti Wadi',
    'ज्ञानेश्वरनगर': 'Dyaneshwar Nagar',
    'कामगार हौस्पीटल': 'Kamgar Gate',
    'सावरकर नाका': 'Savarkar Naka',
    'इंदिरानगर': 'Indira Nagar',
    'जोस्ट वसाहत': 'Jost Colony',
    'साठेनगर': 'Sathe Nagar Thane',
    'वागळे आगार': 'Wagle Depot'
}

In [30]:
df['SourceName'] = df['SourceName'].str.strip().map(marathi_to_english)
df['DestinationName'] = df['DestinationName'].str.strip().map(marathi_to_english)

In [31]:
df.head(3)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28

In [32]:
source_destination_df=df[['SourceName', 'DestinationName']]
source_destination_df.head(3)

    SourceName       DestinationName
0  Wagle Depot  Thane Station(Satis)
1  Wagle Depot  Thane Station(Satis)
2  Wagle Depot  Thane Station(Satis)

In [33]:
source_destination_df=df[['SourceName', 'DestinationName']]

In [34]:
null_values2=source_destination_df.isnull().any()

In [35]:
# Count null values in each column
null_value_counts = null_values2.isnull().sum()
print("Total null values in DataFrame:")
null_value_counts

Total null values in DataFrame:

0

In [36]:
df['source_destination']=df['SourceName'] + "->" + df['DestinationName']
unique_pairs=df['source_destination'].unique()
print("Total Number of Unique Source - Destination Pairs : " ,len(unique_pairs)), unique_pairs

Total Number of Unique Source - Destination Pairs :  33

(None,
 array(['Wagle Depot->Thane Station(Satis)',
        'Wagle Depot->Pradeep Society/Panch Pakhadi',
        'Kamgar Gate->Thane Station(Satis)',
        'Kamgar Gate->Pradeep Society/Panch Pakhadi',
        'Pradeep Society/Panch Pakhadi->Thane Station(Satis)',
        'Pradeep Society/Panch Pakhadi->Court Naka',
        'Pradeep Society/Panch Pakhadi->Vrindavan Society',
        'Thane Station(Satis)->Vrindavan Society',
        'Thane Station(Satis)->Court Naka', 'Wagle Depot->Kamgar Gate',
        'Vrindavan Society->Wagle Depot',
        'Thane Station(Satis)->Wagle Depot',
        'Thane Station(Satis)->Kamgar Gate',
        'Thane Station(Satis)->Pradeep Society/Panch Pakhadi',
        'Pradeep Society/Panch Pakhadi->Wagle Depot',
        'Wagle Depot->Court Naka', 'Court Naka->Vrindavan Society',
        'Vrindavan Society->Thane Station(Satis)',
        'Vrindavan Society->Court Naka', 'Vrindavan Society->Kamgar Gate',
        'Vrindavan Society->Pradeep Society/Panch Pakhadi',
        'Court Naka->Kamgar Gate', 'Court Naka->Wagle Depot',
        'Court Naka->Thane Station(Satis)', 'Kamgar Gate->Court Naka',
        'Kamgar Gate->Vrindavan Society', 'Wagle Depot->Vrindavan Society',
        'Pradeep Society/Panch Pakhadi->Kamgar Gate',
        'Kamgar Gate->Wagle Depot',
        'Court Naka->Pradeep Society/Panch Pakhadi',
        'Thane Station(Satis)->Thane Station(Satis)',
        'Wagle Depot->Wagle Depot', nan], dtype=object))

In [37]:
df.rename(columns={'source_destination': 'station_pair'}, inplace=True)
df.columns.to_list()

['id',
 'RouteNumber',
 'TripDirection',
 'SourceId',
 'SourceName',
 'DestinationID',
 'DestinationName',
 'issueDate',
 'station_pair']

In [38]:
df.head(3)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate,station_pair
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis)
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis)
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis)

In [39]:
#Map Holiday to 1
# Dictionary mapping dates to holiday types
holiday = {
    "2018-01-26": 1,  # Republic Day
    "2019-01-26": 1,  # Republic Day
    "2020-01-26": 1,  # Republic Day
    "2021-01-26": 1,  # Republic Day
    "2022-01-26": 1,  # Republic Day
    "2023-01-26": 1,  # Republic Day
    "2018-02-19": 1,  # Shivaji Jayanti
    "2019-02-19": 1,  # Shivaji Jayanti
    "2020-02-19": 1,  # Shivaji Jayanti
    "2021-02-19": 1,  # Shivaji Jayanti
    "2022-02-19": 1,  # Shivaji Jayanti
    "2023-02-19": 1,  # Shivaji Jayanti
    "2018-12-25": 1,  # Christmas
    "2019-12-25": 1,  # Christmas
    "2020-12-25": 1,  # Christmas
    "2021-12-25": 1,  # Christmas
    "2022-12-25": 1,  # Christmas
    "2023-12-25": 1,  # Christmas
    "2018-02-13": 1,  # Mahashivratri
    "2019-03-04": 1,  # Mahashivratri
    "2020-02-21": 1,  # Mahashivratri
    "2021-03-11": 1,  # Mahashivratri
    "2022-03-01": 1,  # Mahashivratri
    "2023-02-18": 1,  # Mahashivratri
    "2018-03-02": 1,  # Holi
    "2019-03-21": 1,  # Holi
    "2020-03-10": 1,  # Holi
    "2021-03-29": 1,  # Holi
    "2022-03-18": 1,  # Holi
    "2023-03-07": 1,  # Holi
    "2018-03-18": 1,  # Gudipadwa
    "2019-04-06": 1,  # Gudipadwa
    "2020-03-25": 1,  # Gudipadwa
    "2021-04-13": 1,  # Gudipadwa
    "2022-04-02": 1,  # Gudipadwa
    "2023-03-22": 1,  # Gudipadwa
    "2018-03-25": 1,  # Ram navmi
    "2019-04-14": 1,  # Ram navmi
    "2020-04-02": 1,  # Ram navmi
    "2021-04-21": 1,  # Ram navmi
    "2022-04-10": 1,  # Ram navmi
    "2023-03-30": 1,  # Ram navmi
    "2018-03-29": 1,  # Mahavir Jayanti
    "2019-03-17": 1,  # Mahavir Jayanti
    "2020-04-06": 1,  # Mahavir Jayanti
    "2021-04-25": 1,  # Mahavir Jayanti
    "2022-04-14": 1,  # Mahavir Jayanti
    "2023-04-04": 1,  # Mahavir Jayanti
    "2018-04-14": 1,  # Aambedkar Jayanti
    "2019-04-14": 1,  # Aambedkar Jayanti
    "2020-04-14": 1,  # Aambedkar Jayanti
    "2021-04-14": 1,  # Aambedkar Jayanti
    "2022-04-14": 1,  # Aambedkar Jayanti
    "2023-04-14": 1,  # Aambedkar Jayanti
    "2018-03-30": 1,  # Good friday
    "2019-04-19": 1,  # Good friday
    "2020-04-10": 1,  # Good friday
    "2021-04-02": 1,  # Good friday
    "2022-04-15": 1,  # Good friday
    "2023-04-07": 1,  # Good friday
    "2018-06-16": 1,  # Ramzan
    "2019-06-05": 1,  # Ramzan
    "2020-05-25": 1,  # Ramzan
    "2021-05-13": 1,  # Ramzan
    "2022-05-03": 1,  # Ramzan
    "2023-04-22": 1,  # Ramzan
    "2018-05-01": 1,  # Maharashtra Day
    "2019-05-01": 1,  # Maharashtra Day
    "2020-05-01": 1,  # Maharashtra Day
    "2021-05-01": 1,  # Maharashtra Day
    "2022-05-01": 1,  # Maharashtra Day
    "2023-05-01": 1,  # Maharashtra Day
    "2018-04-30": 1,  # Buddha Purnima
    "2019-05-18": 1,  # Buddha Purnima
    "2020-05-07": 1,  # Buddha Purnima
    "2021-05-26": 1,  # Buddha Purnima
    "2022-05-16": 1,  # Buddha Purnima
    "2023-05-05": 1,  # Buddha Purnima
    "2018-08-22": 1,  # Bakri Eid
    "2019-08-12": 1,  # Bakri Eid
    "2020-08-01": 1,  # Bakri Eid
    "2021-07-21": 1,  # Bakri Eid
    "2022-07-10": 1,  # Bakri Eid
    "2023-06-28": 1,  # Bakri Eid
    "2018-09-21": 1,  # Moharum
    "2019-09-10": 1,  # Moharum
    "2020-08-30": 1,  # Moharum
    "2021-09-19": 1,  # Moharum
    "2022-08-09": 1,  # Moharum
    "2023-07-29": 1,  # Moharum
    "2018-08-15": 1,  # Independence Day
    "2019-08-15": 1,  # Independence Day
    "2020-08-15": 1,  # Independence Day
    "2021-08-15": 1,  # Independence Day
    "2022-08-15": 1,  # Independence Day
    "2023-08-15": 1,  # Independence Day
    "2018-08-17": 1,  # Pateti
    "2019-08-17": 1,  # Pateti
    "2020-08-16": 1,  # Pateti
    "2021-08-16": 1,  # Pateti
    "2022-08-16": 1,  # Pateti
    "2023-08-16": 1,  # Pateti
    "2018-09-13": 1,  # Ganesh Chaturthi
    "2019-09-02": 1,  # Ganesh Chaturthi
    "2020-08-22": 1,  # Ganesh Chaturthi
    "2021-09-10": 1,  # Ganesh Chaturthi
    "2022-08-31": 1,  # Ganesh Chaturthi
    "2023-09-19": 1,  # Ganesh Chaturthi
    "2018-10-02": 1,  # Gandhi Jayanti
    "2019-10-02": 1,  # Gandhi Jayanti
    "2020-10-02": 1,  # Gandhi Jayanti
    "2021-10-02": 1,  # Gandhi Jayanti
    "2022-10-02": 1,  # Gandhi Jayanti
    "2023-10-02": 1,  # Gandhi Jayanti
    "2018-09-21": 1,  # Eid A Milad
    "2019-09-10": 1,  # Eid A Milad
    "2020-08-30": 1,  # Eid A Milad
    "2021-08-10": 1,  # Eid A Milad
    "2022-10-09": 1,  # Eid A Milad
    "2023-09-28": 1,  # Eid A Milad
    "2018-10-19": 1,  # Dashera
    "2019-10-08": 1,  # Dashera
    "2020-10-25": 1,  # Dashera
    "2021-10-15": 1,  # Dashera
    "2022-10-05": 1,  # Dashera
    "2023-10-24": 1,  # Dashera
    "2018-11-05": 1,  # Dhanteras
    "2019-10-25": 1,  # Dhanteras
    "2020-11-12": 1,  # Dhanteras
    "2021-11-02": 1,  # Dhanteras
    "2022-10-24": 1,  # Dhanteras
    "2023-11-12": 1,  # Dhanteras
    "2018-11-06": 1,  # Kali Chaudas
    "2019-10-26": 1,  # Kali Chaudas
    "2020-11-13": 1,  # Kali Chaudas
    "2021-11-03": 1,  # Kali Chaudas
    "2022-10-25": 1,  # Kali Chaudas
    "2023-11-13": 1,  # Kali Chaudas
    "2018-11-07": 1,  # Diwali
    "2019-10-27": 1,  # Diwali
    "2020-11-14": 1,  # Diwali
    "2021-11-04": 1,  # Diwali
    "2022-10-26": 1,  # Diwali
    "2023-11-14": 1,  # Diwali
    "2018-11-08": 1,  # New Year
    "2019-10-28": 1,  # New Year
    "2020-11-15": 1,  # New Year
    "2021-11-05": 1,  # New Year
    "2022-10-27": 1,  # New Year
    "2023-11-15": 1,  # New Year
    "2018-11-09": 1,  # Bhaiduj
    "2019-10-29": 1,  # Bhaiduj
    "2020-11-16": 1,  # Bhaiduj
    "2021-11-06": 1,  # Bhaiduj
    "2022-10-28": 1,  # Bhaiduj
    "2023-11-16": 1,  # Bhaiduj
    "2018-11-23": 1,  # Guru Nanak Jayanti
    "2019-11-12": 1,  # Guru Nanak Jayanti
    "2020-11-30": 1,  # Guru Nanak Jayanti
    "2021-11-19": 1,  # Guru Nanak Jayanti
    "2022-11-08": 1,  # Guru Nanak Jayanti
    "2023-11-27": 1,  # Guru Nanak Jayanti
}

In [40]:
import pandas as pd

df = df[df['issueDate'] != "29-"]

# Convert the issueDate column to datetime
df['issueDate'] = pd.to_datetime(df['issueDate'], format="%d-%m-%Y %H:%M", dayfirst=True)

# Format the datetime column
df['issueDate'] = df['issueDate'].dt.strftime("%d-%m-%Y %H:%M")

In [41]:
# Function to map date to holiday type
def map_holiday(date):
    return holiday.get(date, 0)  # Default to 0 if date not found

# Apply the function to create the 'is_holiday' column
df['is_holiday'] = pd.to_datetime(df['issueDate']).dt.strftime('%Y-%m-%d').apply(map_holiday)

print(df)

/tmp/ipykernel_33/3094901230.py:6: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['is_holiday'] = pd.to_datetime(df['issueDate']).dt.strftime('%Y-%m-%d').apply(map_holiday)

                id  RouteNumber  TripDirection  SourceId   SourceName  \
0          1422656            6              0        20  Wagle Depot
1          1422657            6              0        20  Wagle Depot
2          1422658            6              0        20  Wagle Depot
3          1422660            6              0        20  Wagle Depot
4          1422661            6              0        20  Wagle Depot
...            ...          ...            ...       ...          ...
1048570  274318915            6              1        20  Wagle Depot
1048571  274318916            6              1        19  Kamgar Gate
1048572  274318917            6              1        19  Kamgar Gate
1048573  274318918            6              1        19  Kamgar Gate
1048574  274318919            6              1        19  Kamgar Gate

         DestinationID       DestinationName         issueDate  \
0                   17  Thane Station(Satis)  25-07-2018 18:27
1                   17  Thane Station(Satis)  25-07-2018 18:28
2                   17  Thane Station(Satis)  25-07-2018 18:28
3                   17  Thane Station(Satis)  25-07-2018 18:28
4                   17  Thane Station(Satis)  25-07-2018 18:29
...                ...                   ...               ...
1048570             17  Thane Station(Satis)  18-03-2024 14:02
1048571             17  Thane Station(Satis)  18-03-2024 14:03
1048572             17  Thane Station(Satis)  18-03-2024 14:03
1048573             17  Thane Station(Satis)  18-03-2024 14:03
1048574             17  Thane Station(Satis)  18-03-2024 14:03

                              station_pair  is_holiday
0        Wagle Depot->Thane Station(Satis)           0
1        Wagle Depot->Thane Station(Satis)           0
2        Wagle Depot->Thane Station(Satis)           0
3        Wagle Depot->Thane Station(Satis)           0
4        Wagle Depot->Thane Station(Satis)           0
...                                    ...         ...
1048570  Wagle Depot->Thane Station(Satis)           0
1048571  Kamgar Gate->Thane Station(Satis)           0
1048572  Kamgar Gate->Thane Station(Satis)           0
1048573  Kamgar Gate->Thane Station(Satis)           0
1048574  Kamgar Gate->Thane Station(Satis)           0

[7340025 rows x 10 columns]

In [42]:
# Map Holiday Type
holiday_types = {
    "2018-01-26": 1,  # Republic Day
    "2019-01-26": 1,  # Republic Day
    "2020-01-26": 1,  # Republic Day
    "2021-01-26": 1,  # Republic Day
    "2022-01-26": 1,  # Republic Day
    "2023-01-26": 1,  # Republic Day
    "2018-02-19": 2,  # Shivaji Jayanti
    "2019-02-19": 2,  # Shivaji Jayanti
    "2020-02-19": 2,  # Shivaji Jayanti
    "2021-02-19": 2,  # Shivaji Jayanti
    "2022-02-19": 2,  # Shivaji Jayanti
    "2023-02-19": 2,  # Shivaji Jayanti
    "2018-12-25": 3,  # Christmas
    "2019-12-25": 3,  # Christmas
    "2020-12-25": 3,  # Christmas
    "2021-12-25": 3,  # Christmas
    "2022-12-25": 3,  # Christmas
    "2023-12-25": 3,  # Christmas
    "2018-02-13": 4,  # Mahashivratri
    "2019-03-04": 4,  # Mahashivratri
    "2020-02-21": 4,  # Mahashivratri
    "2021-03-11": 4,  # Mahashivratri
    "2022-03-01": 4,  # Mahashivratri
    "2023-02-18": 4,  # Mahashivratri
    "2018-03-02": 5,  # Holi
    "2019-03-21": 5,  # Holi
    "2020-03-10": 5,  # Holi
    "2021-03-29": 5,  # Holi
    "2022-03-18": 5,  # Holi
    "2023-03-07": 5,  # Holi
    "2018-03-18": 6,  # Gudipadwa
    "2019-04-06": 6,  # Gudipadwa
    "2020-03-25": 6,  # Gudipadwa
    "2021-04-13": 6,  # Gudipadwa
    "2022-04-02": 6,  # Gudipadwa
    "2023-03-22": 6,  # Gudipadwa
    "2018-03-25": 7,  # Ram Navami
    "2019-04-14": 7,  # Ram Navami
    "2020-04-02": 7,  # Ram Navami
    "2021-04-21": 7,  # Ram Navami
    "2022-04-10": 7,  # Ram Navami
    "2023-03-30": 7,  # Ram Navami
    "2018-03-29": 8,  # Mahavir Jayanti
    "2019-03-17": 8,  # Mahavir Jayanti
    "2020-04-06": 8,  # Mahavir Jayanti
    "2021-04-25": 8,  # Mahavir Jayanti
    "2022-04-14": 8,  # Mahavir Jayanti
    "2023-04-04": 8,  # Mahavir Jayanti
    "2018-04-14": 9,  # Ambedkar Jayanti
    "2019-04-14": 9,  # Ambedkar Jayanti
    "2020-04-14": 9,  # Ambedkar Jayanti
    "2021-04-14": 9,  # Ambedkar Jayanti
    "2022-04-14": 9,  # Ambedkar Jayanti
    "2023-04-14": 9,  # Ambedkar Jayanti
    "2018-03-30": 10,  # Good Friday
    "2019-04-19": 10,  # Good Friday
    "2020-04-10": 10,  # Good Friday
    "2021-04-02": 10,  # Good Friday
    "2022-04-15": 10,  # Good Friday
    "2023-04-07": 10,  # Good Friday
    "2018-06-16": 11,  # Ramzan
    "2019-06-05": 11,  # Ramzan
    "2020-05-25": 11,  # Ramzan
    "2021-05-13": 11,  # Ramzan
    "2022-05-03": 11,  # Ramzan
    "2023-04-22": 11,  # Ramzan
    "2018-05-01": 12,  # Maharashtra Day
    "2019-05-01": 12,  # Maharashtra Day
    "2020-05-01": 12,  # Maharashtra Day
    "2021-05-01": 12,  # Maharashtra Day
    "2022-05-01": 12,  # Maharashtra Day
    "2023-05-01": 12,  # Maharashtra Day
    "2018-04-30": 13,  # Buddha Purnima
    "2019-05-18": 13,  # Buddha Purnima
    "2020-05-07": 13,  # Buddha Purnima
    "2021-05-26": 13,  # Buddha Purnima
    "2022-05-16": 13,  # Buddha Purnima
    "2023-05-05": 13,  # Buddha Purnima
    "2018-08-22": 14,  # Bakri Eid
    "2019-08-12": 14,  # Bakri Eid
    "2020-08-01": 14,  # Bakri Eid
    "2021-07-21": 14,  # Bakri Eid
    "2022-07-10": 14,  # Bakri Eid
    "2023-06-28": 14,  # Bakri Eid
    "2018-09-21": 15,  # Moharum
    "2019-09-10": 15,  # Moharum
    "2020-08-30": 15,  # Moharum
    "2021-09-19": 15,  # Moharum
    "2022-08-09": 15,  # Moharum
    "2023-07-29": 15,  # Moharum
    "2018-08-15": 16,  # Independence Day
    "2019-08-15": 16,  # Independence Day
    "2020-08-15": 16,  # Independence Day
    "2021-08-15": 16,  # Independence Day
    "2022-08-15": 16,  # Independence Day
    "2023-08-15": 16,  # Independence Day
    "2018-08-17": 17,  # Parsi New Year
    "2019-08-17": 17,  # Parsi New Year
    "2020-08-16": 17,  # Parsi New Year
    "2021-08-16": 17,  # Parsi New Year
    "2022-08-16": 17,  # Parsi New Year
    "2023-08-16": 17,  # Parsi New Year
    "2018-09-13": 18,  # Ganesh Chaturthi
    "2019-09-02": 18,  # Ganesh Chaturthi
    "2020-08-22": 18,  # Ganesh Chaturthi
    "2021-09-10": 18,  # Ganesh Chaturthi
    "2022-08-31": 18,  # Ganesh Chaturthi
    "2023-09-19": 18,  # Ganesh Chaturthi
    "2018-10-02": 19,  # Gandhi Jayanti
    "2019-10-02": 19,  # Gandhi Jayanti
    "2020-10-02": 19,  # Gandhi Jayanti
    "2021-10-02": 19,  # Gandhi Jayanti
    "2022-10-02": 19,  # Gandhi Jayanti
    "2023-10-02": 19,  # Gandhi Jayanti
    "2018-09-21": 20,  # Eid al-Adha
    "2019-09-10": 20,  # Eid al-Adha
    "2020-08-30": 20,  # Eid al-Adha
    "2021-08-10": 20,  # Eid al-Adha
    "2022-10-09": 20,  # Eid al-Adha
    "2023-09-28": 20,  # Eid al-Adha
    "2018-10-19": 21,  # Dussehra
    "2019-10-08": 21,  # Dussehra
    "2020-10-25": 21,  # Dussehra
    "2021-10-15": 21,  # Dussehra
    "2022-10-05": 21,  # Dussehra
    "2023-10-24": 21,  # Dussehra
    "2018-11-05": 22,  # Dhanteras
    "2019-10-25": 22,  # Dhanteras
    "2020-11-12": 22,  # Dhanteras
    "2021-11-02": 22,  # Dhanteras
    "2022-10-24": 22,  # Dhanteras
    "2023-11-12": 22,  # Dhanteras
    "2018-11-06": 23,  # Kali Chaudas
    "2019-10-26": 23,  # Kali Chaudas
    "2020-11-13": 23,  # Kali Chaudas
    "2021-11-03": 23,  # Kali Chaudas
    "2022-10-25": 23,  # Kali Chaudas
    "2023-11-13": 23,  # Kali Chaudas
    "2018-11-07": 24,  # Diwali
    "2019-10-27": 24,  # Diwali
    "2020-11-14": 24,  # Diwali
    "2021-11-04": 24,  # Diwali
    "2022-10-26": 24,  # Diwali
    "2023-11-14": 24,  # Diwali
    "2018-11-08": 25,  # New Year
    "2019-10-28": 25,  # New Year
    "2020-11-15": 25,  # New Year
    "2021-11-05": 25,  # New Year
    "2022-10-27": 25,  # New Year
    "2023-11-15": 25,  # New Year
    "2018-11-09": 26,  # Bhai Dooj
    "2019-10-29": 26,  # Bhai Dooj
    "2020-11-16": 26,  # Bhai Dooj
    "2021-11-06": 26,  # Bhai Dooj
    "2022-10-28": 26,  # Bhai Dooj
    "2023-11-16": 26,  # Bhai Dooj
    "2018-11-23": 27,  # Guru Nanak Jayanti
    "2019-11-12": 27,  # Guru Nanak Jayanti
    "2020-11-30": 27,  # Guru Nanak Jayanti
    "2021-11-19": 27,  # Guru Nanak Jayanti
    "2022-11-08": 27,  # Guru Nanak Jayanti
    "2023-11-27": 27,  # Guru Nanak Jayanti
}

# Function to map date to holiday type
def map_holiday_type(date):
    return holiday_types.get(date, 0)  # Default to 0 if date not found

# Apply the function to create the 'HOLIDAY_TYPE' column
df['holiday_type'] = pd.to_datetime(df['issueDate']).dt.strftime('%Y-%m-%d').apply(map_holiday_type)
df.head()

/tmp/ipykernel_33/4087119585.py:172: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['holiday_type'] = pd.to_datetime(df['issueDate']).dt.strftime('%Y-%m-%d').apply(map_holiday_type)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate,station_pair,is_holiday,holiday_type
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis),0,0
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0
3,1422660,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0
4,1422661,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:29,Wagle Depot->Thane Station(Satis),0,0

In [43]:
filtered_df = df[df['holiday_type'] != 0]
filtered_df

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,issueDate,station_pair,is_holiday,holiday_type
74237,12758129,6,0,20,Wagle Depot,18,Pradeep Society/Panch Pakhadi,17-08-2018 11:42,Wagle Depot->Pradeep Society/Panch Pakhadi,1,17
74238,12758130,6,0,20,Wagle Depot,19,Kamgar Gate,17-08-2018 11:42,Wagle Depot->Kamgar Gate,1,17
74239,12758131,6,0,19,Kamgar Gate,17,Thane Station(Satis),17-08-2018 11:43,Kamgar Gate->Thane Station(Satis),1,17
74240,12758132,6,0,19,Kamgar Gate,16,Court Naka,17-08-2018 11:43,Kamgar Gate->Court Naka,1,17
74241,12758133,6,0,19,Kamgar Gate,15,Vrindavan Society,17-08-2018 11:43,Kamgar Gate->Vrindavan Society,1,17
...,...,...,...,...,...,...,...,...,...,...,...
840966,213364387,6,0,17,Thane Station(Satis),20,Wagle Depot,05-05-2023 23:37,Thane Station(Satis)->Wagle Depot,1,13
840967,213364388,6,0,18,Pradeep Society/Panch Pakhadi,20,Wagle Depot,05-05-2023 23:39,Pradeep Society/Panch Pakhadi->Wagle Depot,1,13
840968,213364389,6,0,18,Pradeep Society/Panch Pakhadi,20,Wagle Depot,05-05-2023 23:39,Pradeep Society/Panch Pakhadi->Wagle Depot,1,13
840969,213364390,6,0,18,Pradeep Society/Panch Pakhadi,20,Wagle Depot,05-05-2023 23:40,Pradeep Society/Panch Pakhadi->Wagle Depot,1,13
840970,213364391,6,0,18,Pradeep Society/Panch Pakhadi,20,Wagle Depot,05-05-2023 23:40,Pradeep Society/Panch Pakhadi->Wagle Depot,1,13

In [44]:
df=df.rename(columns={'issueDate' : 'Date_Time'})
df.head(2)

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,Date_Time,station_pair,is_holiday,holiday_type
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis),0,0
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0

In [45]:
df['weekday']=pd.to_datetime(df['Date_Time']).dt.dayofweek
df['hour']=pd.to_datetime(df['Date_Time']).dt.hour
df['year']=pd.to_datetime(df['Date_Time']).dt.year
df

/tmp/ipykernel_33/489911626.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['weekday']=pd.to_datetime(df['Date_Time']).dt.dayofweek
/tmp/ipykernel_33/489911626.py:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['hour']=pd.to_datetime(df['Date_Time']).dt.hour
/tmp/ipykernel_33/489911626.py:3: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['year']=pd.to_datetime(df['Date_Time']).dt.year

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,Date_Time,station_pair,is_holiday,holiday_type,weekday,hour,year
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
3,1422660,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
4,1422661,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:29,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,274318915,6,1,20,Wagle Depot,17,Thane Station(Satis),18-03-2024 14:02,Wagle Depot->Thane Station(Satis),0,0,0,14,2024
1048571,274318916,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024
1048572,274318917,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024
1048573,274318918,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024
1048574,274318919,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024

In [46]:
nulls=df.isnull().any()
nulls

id                 False
RouteNumber        False
TripDirection      False
SourceId           False
SourceName          True
DestinationID      False
DestinationName     True
Date_Time          False
station_pair        True
is_holiday         False
holiday_type       False
weekday            False
hour               False
year               False
dtype: bool

In [47]:
nulls = df.isnull().any(axis=1)
null_df = df[nulls]
null_df.head

<bound method NDFrame.head of                 id  RouteNumber  TripDirection  SourceId  \
51476      1905112            6              1        18
51477      1906458            6              1        18
66359      2047684            6              1        17
66361      2047686            6              1        17
69670      2075379            6              1        17
...            ...          ...            ...       ...
1020569  273490062            6              0        18
1020570  273490087            6              0        18
1020571  273490101            6              0        18
1020572  273490165            6              0        18
1020573  273490271            6              0        18

                            SourceName  DestinationID       DestinationName  \
51476    Pradeep Society/Panch Pakhadi             20                   NaN
51477    Pradeep Society/Panch Pakhadi             20                   NaN
66359             Thane Station(Satis)             20                   NaN
66361             Thane Station(Satis)             20                   NaN
69670             Thane Station(Satis)             20                   NaN
...                                ...            ...                   ...
1020569                            NaN             17  Thane Station(Satis)
1020570                            NaN             17  Thane Station(Satis)
1020571                            NaN             17  Thane Station(Satis)
1020572                            NaN             17  Thane Station(Satis)
1020573                            NaN             17  Thane Station(Satis)

                Date_Time station_pair  is_holiday  holiday_type  weekday  \
51476    06-08-2018 13:31          NaN           0             0        0
51477    06-08-2018 13:33          NaN           0             0        0
66359    08-08-2018 19:49          NaN           0             0        2
66361    08-08-2018 19:50          NaN           0             0        2
69670    09-08-2018 11:36          NaN           0             0        3
...                   ...          ...         ...           ...      ...
1020569  14-03-2024 13:40          NaN           0             0        3
1020570  14-03-2024 13:40          NaN           0             0        3
1020571  14-03-2024 13:40          NaN           0             0        3
1020572  14-03-2024 13:40          NaN           0             0        3
1020573  14-03-2024 13:41          NaN           0             0        3

         hour  year
51476      13  2018
51477      13  2018
66359      19  2018
66361      19  2018
69670      11  2018
...       ...   ...
1020569    13  2024
1020570    13  2024
1020571    13  2024
1020572    13  2024
1020573    13  2024

[59327 rows x 14 columns]>

In [48]:
df

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,Date_Time,station_pair,is_holiday,holiday_type,weekday,hour,year
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
3,1422660,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
4,1422661,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:29,Wagle Depot->Thane Station(Satis),0,0,2,18,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,274318915,6,1,20,Wagle Depot,17,Thane Station(Satis),18-03-2024 14:02,Wagle Depot->Thane Station(Satis),0,0,0,14,2024
1048571,274318916,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024
1048572,274318917,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024
1048573,274318918,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024
1048574,274318919,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024

# inserting total_count column

In [49]:
def calculate_total_count(group):
    return pd.Series({'total_count': group.shape[0]})

In [50]:
# Calculate total count by grouping weekday, hour and year
df['total_count'] = df.groupby(['is_holiday','holiday_type','weekday', 'hour','year','Date_Time'])['id'].transform('count')
df

,id,RouteNumber,TripDirection,SourceId,SourceName,DestinationID,DestinationName,Date_Time,station_pair,is_holiday,holiday_type,weekday,hour,year,total_count
0,1422656,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:27,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,6
1,1422657,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3
2,1422658,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3
3,1422660,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:28,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3
4,1422661,6,0,20,Wagle Depot,17,Thane Station(Satis),25-07-2018 18:29,Wagle Depot->Thane Station(Satis),0,0,2,18,2018,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,274318915,6,1,20,Wagle Depot,17,Thane Station(Satis),18-03-2024 14:02,Wagle Depot->Thane Station(Satis),0,0,0,14,2024,15
1048571,274318916,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9
1048572,274318917,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9
1048573,274318918,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9
1048574,274318919,6,1,19,Kamgar Gate,17,Thane Station(Satis),18-03-2024 14:03,Kamgar Gate->Thane Station(Satis),0,0,0,14,2024,9

In [51]:
df['total_count'] = df['total_count'].astype(int)

In [52]:
new_df=df.drop(columns=['RouteNumber','TripDirection','SourceId','SourceName','DestinationID','DestinationName','station_pair','id'])

# adding lower_quartile, upper_quartile and final_total_count

In [53]:
EXTRA_COLUMN = ['Date_Time','is_holiday','holiday_type']
TARGET_COLUMN = 'total_count'
ACTUAL_TARGET_COLUMN = 'final_' + TARGET_COLUMN
OUTPUT_COLUMN = 'final_average'
LOWER_QUARTILE = 10
UPPER_QUARTILE = 100 - LOWER_QUARTILE
GROUP_BY_COLUMN = list(new_df.columns)

# Add the TARGET_COLUMN to the GROUP_BY_COLUMN list
GROUP_BY_COLUMN.append(TARGET_COLUMN)

# Remove the EXTRA_COLUMN items from the GROUP_BY_COLUMN list
for column in EXTRA_COLUMN:
    GROUP_BY_COLUMN.remove(column)

# Remove the TARGET_COLUMN from the GROUP_BY_COLUMN list
GROUP_BY_COLUMN.remove(TARGET_COLUMN)

GROUP_BY_COLUMN

['weekday', 'hour', 'year', 'total_count']

In [54]:
df['lower_quartile'] = df[TARGET_COLUMN]
df['upper_quartile'] = df[TARGET_COLUMN]
df[ACTUAL_TARGET_COLUMN] = df[TARGET_COLUMN]

In [55]:
# Change the misspelled variable name
df['lower_quartile'] = df[TARGET_COLUMN]
df['upper_quartile'] = df[TARGET_COLUMN]
df[ACTUAL_TARGET_COLUMN] = df[TARGET_COLUMN]

In [56]:
groupByObject = df.groupby(GROUP_BY_COLUMN)
groupByDict = groupByObject.groups
groupByDictKeys = list(groupByDict.keys())
df.groupby(GROUP_BY_COLUMN).count()

                                id  RouteNumber  TripDirection  SourceId  \
weekday hour year total_count
0       0    2018 1            105          105            105       105
                  2            144          144            144       144
                  3            249          249            249       249
                  4            364          364            364       364
                  5            480          480            480       480
...                            ...          ...            ...       ...
6       23   2024 13           117          117            117       117
                  14            84           84             84        84
                  15            45           45             45        45
                  17            17           17             17        17
                  19            38           38             38        38

                               SourceName  DestinationID  DestinationName  \
weekday hour year total_count
0       0    2018 1                   105            105              105
                  2                   144            144              144
                  3                   249            249              249
                  4                   364            364              364
                  5                   480            480              480
...                                   ...            ...              ...
6       23   2024 13                  116            117              114
                  14                   84             84               84
                  15                   45             45               43
                  17                   17             17               17
                  19                   38             38               38

                               Date_Time  station_pair  is_holiday  \
weekday hour year total_count
0       0    2018 1                  105           105         105
                  2                  144           144         144
                  3                  249           249         249
                  4                  364           364         364
                  5                  480           480         480
...                                  ...           ...         ...
6       23   2024 13                 117           113         117
                  14                  84            84          84
                  15                  45            43          45
                  17                  17            17          17
                  19                  38            38          38

                               holiday_type  lower_quartile  upper_quartile  \
weekday hour year total_count
0       0    2018 1                     105             105             105
                  2                     144             144             144
                  3                     249             249             249
                  4                     364             364             364
                  5                     480             480             480
...                                     ...             ...             ...
6       23   2024 13                    117             117             117
                  14                     84              84              84
                  15                     45              45              45
                  17                     17              17              17
                  19                     38              38              38

                               final_total_count
weekday hour year total_count
0       0    2018 1                          105
                  2                          144
                  3                          249
                  4                          364
                  5                          480
...                                          ...
6       23   2024 13                         117
                  14                          84
                  15                          45
                  17                          17
                  19                          38

[23608 rows x 14 columns]